<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.Rest_2Mapper">

    <select id="getIndex1" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex2" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex3" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex4" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type ,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex5" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex6" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from  orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex7" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex8" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex9" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex10" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex11" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex12" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex13" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type ,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex14" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex15" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type ,
               name name,
               u_id u_id,
               create_time createTime,
               update_Time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex16" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex17" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex18" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex19" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_Time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex20" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex21" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex22" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name type,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex23" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>

    <select id="getIndex24" resultType="com.example.demo.bean.Order_2" parameterType="com.example.demo.bean.Order_2">
        select id id,
               type type,
               name name,
               u_id u_id,
               create_time createTime,
               update_time updateTime
from orders_2 where u_id = #{u_id}
    </select>
</mapper>